* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

button,
input[type="email"] {
  cursor: pointer;
  background: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #f9f6e5;
  border-radius: 4px;
}

.separator {
  margin: 2.1875rem 0;
}
.separator div {
  width: 6.25rem;
  height: 0.5rem;
  background-color: #2b4074;
}

.header {
  background-color: #2b4074;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-bottom: 0.3125rem;
}

.navigation {
  position: relative;
}

.navigation__menu {
  position: absolute;
  background-color: #2b4074;
  opacity: 0.9;
  width: 18.75rem;
  height: 0;
  visibility: hidden;
  transform: scaleY(0);
  top: 3.75rem;
  right: 0;
  z-index: 3;
  transition: height 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  overflow: hidden;
}

.opened {
  transform-origin: top;
  transform: scaleY(1);
  height: 15.625rem;
  visibility: visible;
}

.top__anim {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(1px, -5px, 5px);
  margin-bottom: 0;
}

.mid__anim {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(-1px, 7px, 5px);
  margin-bottom: 0;
}

.bottom__anim {
  transform: translate(0, 1.875rem);
}

.navigation__menu__list {
  width: 100%;
  padding: 1.25rem;
}

.list__item {
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 100%;
  color: #f9f6e5;
  margin-bottom: 0.9375rem;
  text-align: center;
  opacity: 1;
}
.list__item:last-child {
  margin-bottom: 0;
}
.list__item:hover {
  text-shadow: 5px 5px 5px black;
}

.navigation__square {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.navigation__bar {
  width: 1.25rem;
  height: 0.1875rem;
  border-radius: 0.125rem;
  background-color: #2b4074;
  margin-bottom: 0.125rem;
  transition: transform 0.2s linear;
}
.navigation__bar:last-child {
  margin-bottom: 0;
}

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/intro/bg-img.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.intro__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro__title {
  margin-top: 8.75rem;
  text-align: center;
  width: 100%;
}
.intro__title h1 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
  color: #fff;
}

.intro__text {
  margin-top: 4.375rem;
  width: 100%;
  text-align: center;
}
.intro__text p {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
}

.carousel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--detail {
  background-color: #2b4074;
  color: #fff;
  margin-top: 3.4375rem;
}

.promo {
  background-color: #2b4074;
}

.promo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}

.promo__text {
  width: 100%;
}
.promo__text h3 {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.promo__text p {
  margin-top: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
  color: #fff;
}

.call__back {
  background-color: #f9f6e5;
  color: #2b4074;
  text-transform: uppercase;
}

.services__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__text {
  margin: 0 3.75rem;
}
.services__text p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #797979;
}

.services__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #2b4074;
}

.services__subtitle {
  margin-top: 4.6875rem;
  line-height: 1.625rem;
  font-size: 1.5rem;
  width: 100%;
  color: #4a4a4a;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "card_1 card_2 card_3 card_4" "card_5 card_6 card_7 card_8";
}

.service__card__wrapper {
  width: 14.375rem;
  height: 17.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #f9f6e5;
}
.service__card__wrapper:not(.top) {
  border-top: 1px solid #f9f6e5;
}

.service__card {
  width: 12.8125rem;
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service__card:hover {
  border: 4px solid #2b4074;
}
.service__card:hover .service__card__additional {
  transform: scale(1);
  width: inherit;
  height: 150px;
}

.service__card__additional {
  text-align: center;
  width: 0;
  height: 0;
  transform: scale(0, -100%);
  transition: height 0.5s linear;
}
.service__card__additional p {
  font-weight: 500;
  color: #9b9b9b;
  line-height: 1.125rem;
  margin-bottom: 30px;
}
.service__card__additional a {
  font-size: 1rem;
  color: #2b4074;
}

.service__icon {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__name {
  letter-spacing: 0.125rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
}

.service__card__one {
  grid-area: card_1;
}

.service__card__two {
  grid-area: card_2;
}

.service__card__three {
  grid-area: card_3;
}

.service__card__four {
  grid-area: card_4;
}

.service__card__five {
  grid-area: card_5;
}

.service__card__six {
  grid-area: card_6;
}

.service__card__seven {
  grid-area: card_7;
}

.service__card__eight {
  grid-area: card_8;
}

.projects {
  padding: 5.3125rem 0 5rem 0;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__header h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #fff;
}

.separator.white div {
  background-color: #fff;
}

.projects__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
}

.project__item {
  width: 25%;
}

.project__image {
  position: relative;
}
.project__image img {
  border-radius: 4px;
  width: 100%;
}
.project__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding-top: 80%;
  background-color: #f9f6e5;
  border-radius: 4px;
  opacity: 0;
}
.project__image:hover::before {
  opacity: 0.5;
}
.project__image:hover .project__icons {
  visibility: visible;
}

.project__icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.9375rem;
  column-gap: 0.9375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.project__title {
  text-align: center;
  margin-top: 2.5rem;
}
.project__title h3 {
  font-family: "Dosis", sans-serif;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
}

.team {
  padding: 3.125rem 0 6.875rem 0;
}

.team__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 6.25rem;
  column-gap: 6.25rem;
}

.team__image {
  width: 100%;
}
.team__image img {
  border-radius: 4px;
}

.team__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.team__info h3 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: #4a4a4a;
}

.team__text {
  line-height: 1.5rem;
  color: #9b9b9b;
  font-size: 1.125rem;
}

.button--watch {
  background-color: #2b4074;
  color: #fff;
  margin-top: 2.8125rem;
}

.news {
  background-color: #f9f6e5;
  padding: 3.75rem 0 5rem 0;
}

.news__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 7.1875rem;
}
.news__header h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #2b4074;
}

.news__row {
  margin: 0 auto;
  -moz-columns: 4;
  columns: 4;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 1.875rem;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.news__image {
  position: relative;
  width: 100%;
  transition: outline 0.1s linear;
}
.news__image img {
  width: 100%;
  border-radius: 4px;
}
.news__image.top:hover + .news__text {
  bottom: 10%;
  left: 0;
  right: 0;
}
.news__image:hover {
  outline: 10px solid #2b4074;
  border-radius: 4px;
}
.news__image:hover .news__link {
  z-index: 1;
}
.news__image:hover + .news__text {
  color: #f9f6e5;
  background-color: #2b4074;
  border-radius: 0px;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 1;
}

.news__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 1.75rem;
  height: 1.75rem;
}

.news__text {
  transition: bottom 0.2s linear;
  height: 2.5rem;
  width: inherit;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.news__text p {
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}

.testimonial {
  padding: 5.625rem 0 8.3125rem 0;
  position: relative;
}

.testimonial__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3.4375rem;
}
.testimonial__text p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.25rem;
  color: #4a4a4a;
  text-align: center;
  padding-bottom: 2.5rem;
}
.testimonial__text span {
  color: #2b4074;
  font-weight: 700;
}

.testimonial__author {
  text-align: center;
}
.testimonial__author p {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.footer {
  background-color: #2b4074;
  position: relative;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 4px;
  background-color: #2b4074;
  position: absolute;
  top: -1.5625rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer__text {
  padding-top: 9.75rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.footer__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.4375rem 0 85px 0;
  width: 100%;
}

.footer__social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 25%;
  border: 2px solid #7ebf84;
  border-left: none;
}
.footer__social__item i {
  font-size: 1.25rem;
  color: #fff;
}
.footer__social__item:first-child {
  border-left: none;
}
.footer__social__item:last-child {
  border-right: none;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 6.0625rem;
}

.footer__navigation__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0.625rem;
  width: 7.8125rem;
}
.footer__navigation__item ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__navigation__item li {
  padding-bottom: 0.625rem;
  font-size: 0.75rem;
  color: #fff;
}
.footer__navigation__item li:last-child {
  padding-bottom: 0;
}
.footer__navigation__item:last-child {
  margin-bottom: 0;
}

.navigation__item__header {
  padding-bottom: 1.5625rem;
}
.navigation__item__header p {
  letter-spacing: 2px;
  color: #f9f6e5;
  font-size: 1.125rem;
  font-family: "Dosis", sans-serif;
}

.footer__up__scroll {
  width: 71.875rem;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__up__scroll a {
  padding-right: 2.625rem;
  height: inherit;
  padding-top: 15px;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #4a4a4a;
  position: relative;
}
.footer__up__scroll a::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-top: 2px solid #2b4074;
  border-left: 2px solid #2b4074;
  transform: rotate(45deg);
  bottom: 10%;
  right: 10%;
}

.footer__bottom__line {
  background-color: #f9f6e5;
  height: 2.625rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1190px) {
  .container {
    max-width: 58.75rem;
  }
  .line__breaker {
    display: none;
  }
  .line__breaker.intro {
    display: block;
  }
  .intro__text {
    width: 550px;
  }
  .intro__text p {
    font-size: 1.125rem;
  }
  .services__row {
    flex-direction: column;
    justify-content: space-around;
  }
  .services__text {
    padding: 0 0.9375rem;
    margin: 3.4375rem 0 2.1875rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services__title {
    justify-self: center;
  }
  .services__cards {
    width: 100%;
  }
  .service__card__wrapper {
    width: 100%;
    border-top: 1px solid #f9f6e5;
  }
  .projects {
    padding-bottom: 3.125rem;
  }
  .projects__row {
    flex-wrap: wrap;
  }
  .project__item {
    flex: 0 0 calc(50% - 0.65625rem);
    margin-bottom: 1.875rem;
  }
  .team__row {
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem;
  }
  .team__text {
    padding-bottom: 0.625rem;
  }
  .button--watch {
    margin-top: 0;
  }
  .news__row {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
@media screen and (max-width: 960px) {
  .services__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card_1 card_2" "card_3 card_4" "card_5 card_6" "card_7 card_8";
  }
}
@media screen and (max-width: 770px) {
  .intro__title h1 {
    font-size: 3.75rem;
  }
  .intro__text {
    width: 28.125rem;
  }
  .testimonial__text p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 685px) {
  .news__row {
    -moz-column-count: 2;
    column-count: 2;
  }
  .intro__title h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
  .intro__text {
    width: 21.875rem;
  }
  .promo__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button.call__back {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 540px) {
  .intro__text {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: none;
  }
  .promo__text h3 {
    text-align: center;
  }
  .promo__text p {
    text-align: center;
  }
  .team__row {
    flex-direction: column;
  }
  .team__info {
    margin-top: 1.25rem;
    align-items: center;
  }
  .team__text {
    font-size: 1rem;
  }
  .button--watch {
    margin-top: 1.25rem;
  }
  .services__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__text.services__subtitle {
    text-align: center;
  }
  .services__text p {
    text-align: center;
  }
  .project__item {
    width: 100%;
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 420px) {
  .intro__title h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  .button--detail {
    display: none;
  }
  .news__row {
    -moz-column-count: 1;
    column-count: 1;
  }
  .services__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "card_1" "card_2" "card_3" "card_4" "card_5" "card_6" "card_7" "card_8";
  }
  .footer__social {
    flex-direction: column;
  }
  .footer__social__item {
    border: none;
  }
  .footer__navigation {
    flex-direction: column;
  }
} /*# sourceMappingURL=main.css.map */
