* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

button,
input[type=email] {
  cursor: pointer;
  background: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 71.875rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header {
  background-color: #2b4074;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-bottom: 0.3125rem;
}

.navigation__square {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.intro {
  background: url("/images/intro/bg-img.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.intro__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.intro__title {
  margin-top: 8.75rem;
  text-align: center;
  max-width: 32.125rem;
}
.intro__title h1 {
  font-size: 6rem;
  color: #fff;
}

.intro__text {
  margin-top: 4.375rem;
  max-width: 54.125rem;
  text-align: center;
}
.intro__text p {
  font-size: 1.5rem;
  color: #fff;
}

.button {
  background-color: #2b4074;
  color: #fff;
  width: 12.5rem;
  height: 3.125rem;
  margin-top: 3.4375rem;
  border-radius: 0.25rem;
}

.pagination {
  margin-top: 5.625rem;
  margin-bottom: 2.1875rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  align-items: center;
}

.pagination__item {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
}
.pagination__item:hover {
  background-color: transparent;
}

.slider__controls {
  position: absolute;
  right: 0;
  top: 40%;
  width: 4.375rem;
  height: 8.75rem;
  z-index: 2;
}

.slider__control {
  width: 100%;
  height: 4.375rem;
  background-color: #2b4074;
  position: relative;
}
.slider__control.slider__control__backward {
  background-color: #f9f6e5;
}
.slider__control.slider__control__forward::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 40%;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  width: 1.125rem;
  height: 1.125rem;
  transform: rotate(45deg);
}
.slider__control.slider__control__backward::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 40%;
  border: 3px solid;
  border-color: transparent transparent #929292 #929292;
  width: 1.125rem;
  height: 1.125rem;
  transform: rotate(45deg);
}

.promo {
  background-color: #2b4074;
}

.promo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}

.promo__text {
  max-width: 49.75rem;
}
.promo__text h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}
.promo__text p {
  margin-top: 0.8125rem;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
  color: #fff;
}

.call__back {
  width: 12.5rem;
  height: 3.125rem;
  background-color: #f9f6e5;
  color: #2b4074;
  border-radius: 0.25rem;
}

.services__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__text {
  max-width: 32.1875rem;
  margin: 0 3.75rem;
}
.services__text p {
  font-size: 1.125rem;
  color: #797979;
}

.services__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #2b4074;
}

.services__subtitle {
  margin-top: 5.3125rem;
  font-size: 1.5rem;
  color: #4a4a4a;
}

.separator {
  width: 6.25rem;
  height: 0.5rem;
  background-color: #2b4074;
  margin: 2.1875rem 0;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "card_1 card_2 card_3 card_4" "card_5 card_6 card_7 card_8";
}

.service__card {
  width: 14.375rem;
  height: 16.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #f9f6e5;
}
.service__card:not(.top) {
  border-top: 1px solid #f9f6e5;
}
.service__card:hover {
  border: 4px solid #2b4074;
}
.service__card:hover .service__card__additional {
  transform: scale(1);
  width: inherit;
  height: inherit;
}

.service__card__additional {
  text-align: center;
  margin-top: 2.5rem;
  width: 0;
  height: 0;
  transform: scale(0);
  transition: height 0.5s linear;
}
.service__card__additional p {
  font-weight: 500;
  color: #9b9b9b;
  margin-bottom: 1.875rem;
}
.service__card__additional a {
  font-size: 1rem;
  color: #2b4074;
}

.service__icon {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__card__one {
  grid-area: card_1;
}

.service__card__two {
  grid-area: card_2;
}

.service__card__three {
  grid-area: card_3;
}

.service__card__four {
  grid-area: card_4;
}

.service__card__five {
  grid-area: card_5;
}

.service__card__six {
  grid-area: card_6;
}

.service__card__seven {
  grid-area: card_7;
}

.service__card__eight {
  grid-area: card_8;
}

.projects {
  padding: 5.3125rem 0 5rem 0;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__header h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #fff;
}

.separator.white {
  background-color: #fff;
}

.projects__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 1.3125rem;
       column-gap: 1.3125rem;
}

.project__image {
  position: relative;
}
.project__image img {
  border-radius: 4px;
}
.project__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15.1875rem;
  height: 13.5625rem;
  background-color: #f9f6e5;
  border-radius: 4px;
  opacity: 0;
}
.project__image:hover::before {
  opacity: 0.5;
}
.project__image:hover .project__icons {
  visibility: visible;
}

.project__icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.project__title {
  text-align: center;
  margin-top: 2.5rem;
}
.project__title h3 {
  font-family: "Dosis", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.team__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 6.25rem;
       column-gap: 6.25rem;
}

.team__image img {
  border-radius: 4px;
}

.team__info {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.team__info h3 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: #4a4a4a;
}

.team__text {
  max-width: 31.6875rem;
  color: #9b9b9b;
  font-size: 1.125rem;
}/*# sourceMappingURL=main.css.map */