.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("/images/intro/bg-img.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.intro__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro__title {
  margin-top: 8.75rem;
  text-align: center;
  width: 100%;
  & h1 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.125rem;
    font-weight: 400;
    color: #fff;
  }
}

.intro__text {
  margin-top: 4.375rem;
  width: 100%;
  text-align: center;
  & p {
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: #fff;
  }
}

.carousel__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--detail {
  background-color: $main-color;
  color: #fff;
  margin-top: 3.4375rem;
}
