.news {
  background-color: #f9f6e5;
  padding: 3.75rem 0 5rem 0;
}

.news__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3rem;
    color: $main-color;
  }
}

.news__row {
  width: 71.875rem;
  height: 50.3125rem;
  column-count: 4;
  column-gap: 20px;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.875rem;
  position: relative;
  margin-bottom: 1.875rem;
  break-inside: avoid;
}
.news__image {
  position: relative;

  & img {
    width: 16.875rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  &.top {
    &:hover {
      margin-bottom: 2.5rem;
    }

    &:hover + .news__text {
      bottom: 20%;
      left: 0;
      right: 0;
    }
  }

  &:hover {
    outline: 10px solid $main-color;
    border-radius: 4px;
  }

  &:hover .news__link {
    z-index: 1;
  }

  &:hover + .news__text {
    position: absolute;
    color: #f9f6e5;
    background-color: $main-color;
    border-radius: 0px;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.news__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 1.75rem;
  height: 1.75rem;
}

.news__text {
  height: 2.5rem;
  width: 16.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  & p {
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: black;
  }
}
