.promo {
  background-color: $main-color;
}

.promo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0;
}
.promo__text {
  max-width: 49.75rem;

  & h3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
  }

  & p {
    margin-top: 0.8125rem;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    color: #fff;
  }
}

.call__back {
  background-color: $secondary-color;
  color: $main-color;
  text-transform: uppercase;
}
