.projects {
  padding: 5.3125rem 0 5rem 0;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3rem;
    color: #fff;
  }
}

.separator.white {
  background-color: #fff;
}
.projects__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1.3125rem;
}

.project__image {
  position: relative;

  & img {
    border-radius: 4px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15.1875rem;
    height: 13.5625rem;
    background-color: #f9f6e5;
    border-radius: 4px;
    opacity: 0;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:hover .project__icons {
    visibility: visible;
  }
}

.project__icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.9375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.project__title {
  text-align: center;
  margin-top: 2.5rem;

  & h3 {
    font-family: "Dosis", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
