// Base

@import "../base/reset";
@import "../base/base";
@import "../base/vars";

// Blocks

@import "./header";
@import "./intro";
@import "./promo";
@import "./services";
@import "./projects";
@import "./team";
@import "./news";
@import "./testimonial";
@import "./footer";
